.modal-comment-container(data-comment-id=comment.id,data-created-at=comment.createdAt,data-comment=comment.comment,data-x=comment.x,data-y=comment.y)
  .comment-ball(style="background: " + comment.color)
  .comment-details
    span.comment-created
      =comment.createdAtStr
    p.comment-text
      =comment.comment