.modal-comment-container(data-id=comment.id,data-created-at=comment.createdAt,data-comment=comment.comment,data-x=comment.x,data-y=comment.y)
  .comment-ball(style="background: " + comment.color)
  .comment-details
    .comment-created
      =comment.createdAtStr
    .comment-text
      !=comment.comment
    if childComments.length
      .comment-child-comments
      each childComment in childComments
        blockquote.blockquote.comment-child-comment(data-comment-id=childComment.id,class=childComment.odd ? 'blockquote-reverse' : '',style='border-color:'  + childComment.color)
          !=childComment.comment